@media (max-width: 768px) {

    main {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .cartao {
        width: 100%;
        margin: 20px auto;
        align-items: center;
        justify-content: center;

    }

    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .titulo h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 18px;
    }

    .informacoes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .informacoes p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 14px;
    }

    .lista-de-projeto {
        width: 100%;

    }

    .lista-de-projeto ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }

    .lista-de-projeto li {
      width: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  
    .lista-de-projeto  a {
      width: 90%;
      font-size: 15px;
      
    } 
}